@charset "utf-8";
.bjgMain{
    background: #fff;
    position: relative;
    z-index: 1;
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    .spiritWrap{
        width: 1198px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-top: 2px solid #c94b56;
        height: 485px;
        overflow: hidden;
        .bannerSlier{
            height: 485px;
            width: 210px;
            position: relative;
            overflow: hidden;
            float: left;
            background-color: orange;
        }
        .spiritList{
            width: 988px;
            float: right;
            height: 485px;
            overflow: hidden;
            position: relative;
            li{
                float: left;
                width: 196px;
                height: 232px;
                border-bottom: 1px solid #ececec;
                border-left: 1px solid #ececec;
                position: relative;
                padding-top: 10px;
                z-index: 1;
            }

        }
    }
    .spiritList li{
        .spiritListPic{
            width: 160px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            a{
                color: #666;
            }
        }
        .spiritListTit {
            width: 160px;
            padding: 0 18px;
            height: 36px;
            overflow: hidden;
            margin-top: 5px;
            a{
                display: block;
                width: 100%;
                height: 18px;
                line-height: 18px;
                font-size: 12px;
                &:hover{
                    color: orangered;
                    text-decoration: underline;
                }
            }
        }
        .spiritListPrice {
            width: 178px;
            padding: 0 0 0 18px;
            height: 18px;
            overflow: hidden;
            line-height: 18px;
            white-space: nowrap;
            strong{
                font-size: 12px;
                font-weight: normal;
                font-family: 微软雅黑;
                color: rgb(205, 1, 0);
                display: inline;
                vertical-align: middle;
            }
        }
    }

    .titlebox {
        height: 40px;
        line-height: 40px;
        background: #f9f9f9;
        padding: 0 3px;
        .comTitle {
            float: left;
            font-size: 0;
             i {
                width: 28px;
                height: 29px;
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                font-family: Arial;
                color: #fff;
                font-size: 18px;
                text-align: center;
                line-height: 29px;
                font-style: normal;
            }
            .comIcon1{
                background-position: 0 -95px;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                color: #333;
                font-size: 17px;
                margin-left: 10px;
                font-family: "微软雅黑";
            }
        }
        .comIMue{
            float: right;
            margin-left: 50px;
            // display: inline;
            color: #999;
            a{
                padding: 0 7px;
                color: #999;
            }
            .goBlank {
                padding: 4px 7px;
                color: #fff;
                background: #d43d4e;
                height: 21px;
                border-radius: 2px;
            }
        }
    }
    .spiritWrap {
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-top: 2px solid #c94b56;
        height: 485px;
        overflow: hidden;
        width: 100%;
    }
    .topTenWrap {
        height: 161px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        .hotWordBox{
            float: left;
            width: 186px;
            border-right: 1px solid #ececec;
            background: #f9f9f9;
            height: 160px;
            padding: 20px 10px 10px 14px;
        }
        .topTenBox{
            width: 985px;
            float: right;
            height: 162px;
        }
    }
    .newBoxI{
        background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat;
    }
}
// 热门推荐  美酒品牌
.bjgMain .topTenWrap .hotWordBox{
    .LI1{
        margin-top: 7px;
    }
    li{
        width: 186px;
    font-family: "微软雅黑";
    h3{
        color: #cc0000;
        font-weight: bold;
        padding-right: 5px;
        font-size: 0;
     i{
        width: 3px;
        height: 3px;
        display: inline-block;
        vertical-align: middle;
        background: #d02229;
        overflow: hidden;
     }
     span{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        margin-left: 5px;
     }
    }  
     p{
        padding-left: 8px;
        width: 178px;
        height: 36px;
        line-height: 18px;
        overflow: hidden;
        margin-top: 5px;
      
            a{
                float: left;
                padding-right: 5px;
                // display: inline-block;
                font-size: 10px;
        
            }
        }
    }
    //香型这块

}
.bjgMain .topTenWrap .topTenBox{
    .topTenNavBox {
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        h3{
            float: left;
            font-size: 0;
            i{
                display: inline-block;
                vertical-align: middle;
                width: 11px;
                height: 13px;
                overflow: hidden;
            }
            .topTen1{
                background-position: -38px 0;
            }
            span{
                font-size: 12px;
                color: #d43d4e;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
        .topTenNav{
            float: right;
            height: 32px;
            a{
                font-size: 12px;
                height: 32px;
                padding: 0 10px;
                display: block;
                float: left;
                color: #666;
            }
            .on{
                color: #cc0000;
                text-decoration: none;
                height: 32px;
                padding: 0 10px;
            }
            span{
                float: left;
                display: block;
                color: #cccccc;
            }
        }
    }
    .topTenConWrap{
        width: 985px;
        height: 102px;
        padding: 10px 0 15px 0;
        overflow: hidden;
        position: relative;
      
        .topTenCon li{
            float: left;
            width: 190px;
            margin-top: 10px;
            padding-right: 7px;
            .topTenOne{
                background-position: -150px -164px;
                width: 11px;
                display: block;
                float: left;
                height: 89px;
            }
            .pic{
                float: left;
            }
            .text{
                float: left;
                width: 80px;
                padding-top: 5px;
                .topTenTit{
                    width: 80px;
                    height: 36px;
                    line-height: 18px;
                    overflow: hidden;
                    font-family: "宋体";
                    a{
                        width: 80px;
                        height: 36px;
                        display: block;
                    }
                }
                .topTenPrice{
                    font-size: 16px;
                    height: 18px;
                    line-height: 18px;
                    margin-top: 5px;
                    color: #cc0000;
                    width: 80px;
                    overflow: hidden;
                    font-family: "微软雅黑";
                    background: #fff;
                    strong{
                        font-size: 15px;
                        font-weight: normal;
                        color: #CD0100;
                    }
                }
            }
        }
    }
}