@charset "utf-8";

// 引入其他部分样式
@import "topheader";  
@import "midHeader";

@import "nav";

@import "mainWrap";
@import "TabMain";
@import "layerWarp";
@import "bjgMain";
@import "bottomMain";

  
//广告位的样式
#topFocusBox a{
    display: block;
    width: 100%;
    height: 90px;
}

