@charset "UTF-8";
/*头部文件上面样式 就是登入注册这一列*/
#topHeader {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 980; }

#topHeader .top-main {
  width: 1200px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  position: relative; }

#topHeader .main-left {
  overflow: hidden;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0; }
  #topHeader .main-left p, #topHeader .main-left a {
    margin-right: 6px;
    float: left;
    line-height: 26px;
    color: #999; }
  #topHeader .main-left a:hover {
    color: #cc0001;
    text-decoration: underline; }

#topHeader .main-right {
  height: 26px;
  float: right; }
  #topHeader .main-right .publicIcon {
    background: url(../img/public-24.png) no-repeat; }

#topHeader .top-main .main-right li {
  height: 26px;
  float: left;
  padding: 0 5px;
  position: relative; }
  #topHeader .top-main .main-right li .myjiuxianbox {
    border: 1px solid #e5e5e5;
    border-top: 0;
    position: absolute;
    top: 26px;
    left: -1px;
    z-index: 206;
    background: #fff;
    padding: 0px 0;
    display: none; }
    #topHeader .top-main .main-right li .myjiuxianbox a {
      display: block;
      width: 100%;
      height: 26px;
      line-height: 26px;
      text-align: center; }

#topHeader .top-main .main-right li:nth-of-type(1) {
  width: 75px; }
  #topHeader .top-main .main-right li:nth-of-type(1) .myjiuxian a {
    text-indent: 4px;
    display: inline-block; }
  #topHeader .top-main .main-right li:nth-of-type(1) .myjiuxian s {
    width: 8px;
    height: 8px;
    background-position: -99px 3px;
    padding-top: 1px;
    margin: 9px 3px 9px 1px;
    float: right;
    color: #999; }
  #topHeader .top-main .main-right li:nth-of-type(1) a:hover {
    color: #cc0001;
    text-decoration: underline; }

#topHeaderRight li i,
#topHeaderRight li a,
#topHeaderRight li span,
#topHeaderRight li s {
  float: left;
  color: #999; }

.top-main .main-right li i {
  width: 12px;
  display: inline-block;
  height: 12px; }

#topHeader .main-right li:nth-of-type(5) s, #topHeader .main-right li:nth-of-type(4) s,
#topHeader .main-right li:nth-of-type(6) s {
  width: 0;
  height: 12px;
  border-left: 1px solid #ccc;
  position: absolute;
  right: -1px;
  top: 8px;
  overflow: hidden; }

#topHeader .main-right li:nth-of-type(5) a:hover {
  color: #cc0001;
  text-decoration: underline; }

#topHeader .main-right li:nth-of-type(3) i {
  background-position: -18px 1px;
  margin: 7px 5px 0 0; }
#topHeader .main-right li:nth-of-type(3) a:hover {
  color: #cc0001;
  text-decoration: underline; }
#topHeader .main-right li:nth-of-type(3) b {
  color: red;
  margin: 0px 1px; }

#topHeader .main-right li:nth-of-type(6) i {
  background-position: -62px 0; }
#topHeader .main-right li:nth-of-type(6) a {
  height: 16px;
  line-height: 16px;
  padding: 0 3px;
  background-color: #cc0001;
  color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 5px 5px 0 0; }
#topHeader .main-right li:nth-of-type(6) a:hover {
  text-decoration: underline; }

#topHeader .main-right li:nth-of-type(7) i {
  background-position: -80px 0; }
#topHeader .main-right li:nth-of-type(7) a:hover {
  color: #cc0001;
  text-decoration: underline; }
#topHeader .main-right li:nth-of-type(7) s {
  width: 9px;
  height: 8px;
  background-position: -99px 3px;
  padding-top: 1px;
  margin: 9px 3px 9px 1px;
  float: right;
  color: #999; }

#topHeader .main-right li:nth-of-type(8) i {
  background-position: -90px -265px; }
#topHeader .main-right li:nth-of-type(8) a:hover {
  color: #cc0001;
  text-decoration: underline; }
#topHeader .main-right li:nth-of-type(8) s {
  width: 9px;
  height: 8px;
  background-position: -99px 3px;
  padding-top: 1px;
  margin: 9px 3px 9px 1px;
  float: right;
  color: #999; }

#topHeader .main-right li:nth-of-type(9) b {
  color: #c00;
  padding-left: 5px; }

#midHeader {
  min-width: 1200px; }
  #midHeader .midHeaderCon {
    width: 1200px;
    height: 125px;
    margin: 0 auto; }
    #midHeader .midHeaderCon .headerLogo {
      width: 257px;
      height: 65px;
      float: left;
      margin-top: 30px; }
      #midHeader .midHeaderCon .headerLogo .jxwLogo {
        width: 137px;
        height: 65px;
        margin-right: 10px; }
      #midHeader .midHeaderCon .headerLogo p {
        float: left;
        text-align: left; }

.headerSearch {
  width: 540px;
  float: left;
  margin: 32px 0 0 20px; }
  .headerSearch .searchHome {
    height: 38px;
    border: 3px solid #c00;
    position: relative;
    z-index: 222; }
    .headerSearch .searchHome .search-form {
      width: 300px;
      height: 25px;
      line-height: 22px;
      margin: 3px 5px;
      border: 0 none;
      color: #666;
      float: left; }
    .headerSearch .searchHome .search-btn {
      width: 85px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: 0;
      font-size: 16px;
      color: #fff;
      background: #c00;
      cursor: pointer;
      font-family: "微软雅黑";
      float: right; }

.searchHome .searchCon {
  width: 500px;
  position: absolute;
  left: -3px;
  top: 35px;
  z-index: 205;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0; }
  .searchHome .searchCon ul {
    padding-top: 3px; }
    .searchHome .searchCon ul li {
      height: 30px;
      position: relative; }
      .searchHome .searchCon ul li a {
        text-decoration: none;
        border-bottom: 1px dashed #ddd;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer; }
        .searchHome .searchCon ul li a span {
          width: 280px;
          color: #333;
          float: left;
          display: block;
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }

.headerSearch .hotWords {
  width: 540px;
  height: 23px;
  overflow: hidden;
  padding-top: 5px; }
  .headerSearch .hotWords p {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    left: -8px;
    z-index: 1; }
    .headerSearch .hotWords p a {
      float: left;
      display: inline-block;
      color: #999;
      padding: 0 8px;
      height: 18px;
      position: relative; }
      .headerSearch .hotWords p a:hover {
        color: #cc0001;
        text-decoration: underline; }
    .headerSearch .hotWords p s {
      display: block;
      height: 12px;
      width: 0;
      font-size: 0;
      line-height: 0;
      border-left: 1px solid #999;
      position: absolute;
      left: -1px;
      top: 4px; }

.headerProtect {
  width: 363px;
  float: right;
  height: 64px;
  margin: 33px 0 0 0;
  background: url(../img/headerProPic1.png) no-repeat top left; }
  .headerProtect a {
    display: inline-block;
    width: 106px;
    height: 43px;
    margin-left: 15px; }

#navwrap {
  width: 100%;
  height: 34px;
  background: #900;
  position: relative;
  z-index: 99; }
  #navwrap .nav {
    width: 1200px;
    height: 34px;
    margin: 0 auto;
    position: relative;
    z-index: 99; }
    #navwrap .nav .commodity {
      width: 190px;
      float: left;
      position: relative;
      z-index: 200; }
      #navwrap .nav .commodity ul {
        position: absolute; }
      #navwrap .nav .commodity h2 {
        width: 190px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        cursor: pointer;
        font-family: 微软雅黑;
        font-size: 14px;
        color: white;
        font-weight: 600;
        background: #ce171f; }

.commodity li {
  float: left;
  width: 190px;
  height: 81px;
  background: #fff;
  border-bottom: 1px solid #e4e4e4; }
  .commodity li .innerLi {
    width: 163px;
    height: 81px;
    padding: 0 10px;
    border-left: 3px solid #fff; }
    .commodity li .innerLi h3 {
      line-height: 32px;
      height: 32px;
      font-size: 14px;
      overflow: hidden;
      font-weight: normal;
      padding-top: 3px;
      color: #333; }
      .commodity li .innerLi h3 i {
        display: inline-block;
        width: 14px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        position: relative;
        top: 2px;
        left: 5px;
        background: url(../img/public-24.png) no-repeat; }
    .commodity li .innerLi p {
      width: 170px;
      height: 20px;
      overflow: hidden; }
      .commodity li .innerLi p a {
        height: 16px;
        line-height: 16px;
        padding: 0 4px;
        color: #666;
        float: left;
        margin: 2px 3px 2px 0; }

.nav .commodity li:nth-of-type(1) h3 i {
  background-position: -73px -260px; }

.nav .commodity li:nth-of-type(2) h3 i {
  background-position: 2px -100px; }

.nav .commodity li:nth-of-type(3) h3 i {
  background-position: -16px -102px; }

.nav .commodity li:nth-of-type(4) h3 i {
  background-position: -37px -100px; }

.nav .commodity li:nth-of-type(5) h3 i {
  background-position: -59px -100px; }

.nav .commodity li:nth-of-type(6) {
  height: 65px; }
  .nav .commodity li:nth-of-type(6) .innerLi {
    height: 100%; }
  .nav .commodity li:nth-of-type(6) h3 i {
    background-position: -79px -100px; }

.commodity .menuBox {
  width: 615px;
  height: 470px;
  position: absolute;
  left: 190px;
  top: 34px;
  z-index: 301;
  box-shadow: 0 0 4px 0 #ccc; }
  .commodity .menuBox .menuCon {
    width: 400px;
    height: 470px;
    float: left;
    background: #f1f1f1;
    overflow: hidden; }
    .commodity .menuBox .menuCon .title {
      width: 60px;
      float: left;
      padding: 10px 10px 10px 20px;
      line-height: 22px;
      text-align: right;
      border-top: 1px solid #f1f1f1; }
      .commodity .menuBox .menuCon .title h3 {
        font-size: 14px;
        color: #333;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap; }
    .commodity .menuBox .menuCon .main {
      width: 340px;
      padding: 10px 0 10px;
      overflow: hidden;
      border-top: 1px dotted #ccc;
      background-color: white; }
      .commodity .menuBox .menuCon .main p {
        margin: 0 15px 0 15px;
        padding: 10px 0 10px;
        overflow: hidden; }
        .commodity .menuBox .menuCon .main p a {
          float: left;
          white-space: nowrap;
          padding: 0 8px; }
  .commodity .menuBox .pictrue {
    width: 215px;
    height: 470px;
    float: right;
    position: relative;
    z-index: 201; }
    .commodity .menuBox .pictrue a {
      display: block;
      width: 220px;
      height: 470px;
      position: absolute;
      top: 0;
      right: -5px; }

.nav ol {
  float: left; }
  .nav ol li {
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 203; }
    .nav ol li a {
      display: inline-block;
      height: 34px;
      color: #fff;
      font-size: 14px;
      padding: 0 22px; }
      .nav ol li a:hover {
        background: #b40c10; }
    .nav ol li .publicIcon {
      background-position: 0 -264px;
      display: block;
      font-size: 0;
      height: 17px;
      line-height: 0;
      position: absolute;
      right: 6px;
      top: -6px;
      width: 29px;
      z-index: 203; }
  .nav ol .show {
    background: #b40c10; }
  .nav ol span {
    background: url(../img/public-24.png) no-repeat; }

#navwrap .dpicture {
  float: right;
  height: 100%; }
  #navwrap .dpicture img {
    display: block; }

#mainWrap {
  width: 100%; }
  #mainWrap .luobowrap {
    width: 100%;
    position: relative;
    height: 470px;
    background: #f9f9f9;
    overflow: hidden;
    z-index: 11; }

.luobowrap .bigImg ul {
  position: relative;
  width: 100% !important;
  height: 470px; }
  .luobowrap .bigImg ul li {
    width: 100% !important;
    height: 470px;
    overflow: hidden;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    transition: all 2s; }
  .luobowrap .bigImg ul #hL {
    z-index: 8;
    opacity: 1; }

#mainWrap .imgBnt {
  left: 0;
  position: absolute;
  text-align: center;
  top: 435px;
  width: 100%;
  z-index: 999; }
  #mainWrap .imgBnt .OL {
    height: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 21;
    text-align: center; }
  #mainWrap .imgBnt span {
    width: 20px;
    text-align: center;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
    opacity: 0.8; }
  #mainWrap .imgBnt .on {
    background: #dd102e; }

.MianTab {
  width: 1200px;
  padding-top: 10px;
  overflow: hidden;
  margin: 0 auto; }
  .MianTab .tabLeft {
    float: left;
    width: 920px;
    background: #fff;
    height: 499px; }
    .MianTab .tabLeft .titie {
      width: 920px;
      overflow: hidden;
      height: 38px;
      position: relative; }
      .MianTab .tabLeft .titie .n1 {
        left: 0; }
      .MianTab .tabLeft .titie .n2 {
        left: 184px; }
      .MianTab .tabLeft .titie .n3 {
        left: 368px; }
      .MianTab .tabLeft .titie .n4 {
        left: 552px;
        width: 183px; }
      .MianTab .tabLeft .titie .n5 {
        left: 736px;
        width: 182px; }
      .MianTab .tabLeft .titie .on {
        width: 183px;
        border-top: 2px solid #cc0000;
        border-bottom: 1px solid #fff;
        height: 35px;
        color: #cc0000;
        line-height: 35px;
        background: #fff; }
      .MianTab .tabLeft .titie li {
        width: 183px;
        height: 35px;
        position: absolute;
        top: 0px;
        cursor: pointer;
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        color: #666666;
        font-family: 微软雅黑;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        border-top: 2px solid #ececec;
        background: #f9f9f9; }
    .MianTab .tabLeft .content {
      border: 1px solid #ececec;
      border-top: none;
      height: 460px;
      overflow: hidden; }
  .MianTab .tabRight {
    width: 270px;
    float: right;
    height: 500px; }
    .MianTab .tabRight .tabLbNew {
      width: 270px;
      height: 140px;
      background: #fff;
      overflow: hidden; }
      .MianTab .tabRight .tabLbNew .LbNewNav {
        height: 35px;
        position: relative; }
        .MianTab .tabRight .tabLbNew .LbNewNav li {
          font-size: 16px;
          font-family: 微软雅黑;
          text-align: center;
          width: 134px;
          height: 34px;
          line-height: 34px;
          position: absolute;
          top: 0px;
          cursor: pointer;
          border-width: 1px;
          border-style: solid;
          border-color: #ececec;
          border-image: initial; }
        .MianTab .tabRight .tabLbNew .LbNewNav .on {
          border-top: 2px solid #c41921;
          border-bottom: 1px solid #fff;
          height: 34px;
          color: #cc0000;
          line-height: 33px;
          background: #fff; }
        .MianTab .tabRight .tabLbNew .LbNewNav .s1 {
          left: 0; }
        .MianTab .tabRight .tabLbNew .LbNewNav .s2 {
          left: 135px;
          width: 133px; }
    .MianTab .tabRight .tabLbpic {
      width: 268px;
      height: 157px;
      border: 1px solid #ececec;
      background: #fff;
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin-top: 10px;
      background-color: orange; }
    .MianTab .tabRight .tabLbpicBox {
      width: 268px;
      height: 178px;
      border: 1px solid #ececec;
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin-top: 10px;
      background-color: orangered; }

#mainWrap .tabRight .LbNewCon {
  border: 1px solid #ececec;
  border-top: none;
  height: 94px;
  padding-top: 10px; }
  #mainWrap .tabRight .LbNewCon ul {
    width: 258px;
    margin: 0 auto; }
    #mainWrap .tabRight .LbNewCon ul li {
      float: left;
      width: 114px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 28px; }
      #mainWrap .tabRight .LbNewCon ul li a {
        color: #666; }

.content {
  height: 442px;
  margin: 0 auto;
  padding: 10px 0;
  overflow: hidden;
  position: relative; }
  .content ul li {
    float: left;
    width: 182px;
    margin-top: 20px; }
    .content ul li .indexTabPic {
      width: 160px;
      position: relative;
      z-index: 1; }
    .content ul li .indexTabTit {
      width: 170px;
      padding: 0 6px;
      height: 18px;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .content ul li .indexTabPrice {
      width: 170px;
      padding: 0 6px;
      height: 18px;
      line-height: 18px;
      overflow: hidden;
      white-space: nowrap;
      color: #cd0100; }
      .content ul li .indexTabPrice strong {
        font-family: 微软雅黑;
        font-size: 12px;
        color: #cd0100;
        font-weight: normal;
        line-height: 18px;
        display: inline;
        vertical-align: middle; }

.layerWarp {
  width: 1200px;
  margin: 0 auto; }
  .layerWarp .ggBox {
    height: 130px;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 20px; }
    .layerWarp .ggBox p {
      width: 290px;
      height: 126px;
      float: left;
      margin: 0 0 0 90px; }
      .layerWarp .ggBox p a img {
        width: 290px;
        height: 126px; }
  .layerWarp .yhBox {
    background: #fff;
    z-index: 1;
    position: relative;
    margin-top: 10px; }
    .layerWarp .yhBox .titleBox {
      height: 40px;
      line-height: 40px;
      background: #f9f9f9;
      padding: 0 3px; }
      .layerWarp .yhBox .titleBox h3 {
        margin: 10px 0 0 0;
        float: left;
        height: 20px;
        line-height: 20px;
        font-size: 0; }
        .layerWarp .yhBox .titleBox h3 i {
          background-position: 0 0;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle; }
        .layerWarp .yhBox .titleBox h3 span {
          display: inline-block;
          vertical-align: middle;
          font-size: 17px;
          color: #333333;
          font-family: 微软雅黑;
          margin-left: 10px; }
        .layerWarp .yhBox .titleBox h3 .newBoxI {
          background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat; }
  .layerWarp .newListDiv {
    float: right;
    height: 9px;
    margin-top: 20px;
    font-size: 0;
    line-height: 0; }
    .layerWarp .newListDiv span {
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 9px;
      overflow: hidden;
      background: #cccccc;
      margin-left: 14px;
      cursor: pointer; }
    .layerWarp .newListDiv .on {
      background: #cc0000; }
  .layerWarp .newBoxI {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat; }

.yhBox .listWarp {
  border: 1px solid #ececec;
  height: 260px;
  background-color: orangered;
  position: relative;
  overflow: hidden; }
  .yhBox .listWarp .raceLeft {
    background-position: 0 -28px;
    left: 0; }
  .yhBox .listWarp .raceRight {
    background-position: -28px -28px;
    right: 0; }
  .yhBox .listWarp .raceArrow {
    width: 27px;
    height: 56px;
    display: block;
    position: absolute;
    top: 100px;
    z-index: 100;
    cursor: pointer; }

.bjgMain {
  background: #fff;
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px; }
  .bjgMain .spiritWrap {
    width: 1198px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c94b56;
    height: 485px;
    overflow: hidden; }
    .bjgMain .spiritWrap .bannerSlier {
      height: 485px;
      width: 210px;
      position: relative;
      overflow: hidden;
      float: left;
      background-color: orange; }
    .bjgMain .spiritWrap .spiritList {
      width: 988px;
      float: right;
      height: 485px;
      overflow: hidden;
      position: relative; }
      .bjgMain .spiritWrap .spiritList li {
        float: left;
        width: 196px;
        height: 232px;
        border-bottom: 1px solid #ececec;
        border-left: 1px solid #ececec;
        position: relative;
        padding-top: 10px;
        z-index: 1; }
  .bjgMain .spiritList li .spiritListPic {
    width: 160px;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    .bjgMain .spiritList li .spiritListPic a {
      color: #666; }
  .bjgMain .spiritList li .spiritListTit {
    width: 160px;
    padding: 0 18px;
    height: 36px;
    overflow: hidden;
    margin-top: 5px; }
    .bjgMain .spiritList li .spiritListTit a {
      display: block;
      width: 100%;
      height: 18px;
      line-height: 18px;
      font-size: 12px; }
      .bjgMain .spiritList li .spiritListTit a:hover {
        color: orangered;
        text-decoration: underline; }
  .bjgMain .spiritList li .spiritListPrice {
    width: 178px;
    padding: 0 0 0 18px;
    height: 18px;
    overflow: hidden;
    line-height: 18px;
    white-space: nowrap; }
    .bjgMain .spiritList li .spiritListPrice strong {
      font-size: 12px;
      font-weight: normal;
      font-family: 微软雅黑;
      color: #cd0100;
      display: inline;
      vertical-align: middle; }
  .bjgMain .titlebox {
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    padding: 0 3px; }
    .bjgMain .titlebox .comTitle {
      float: left;
      font-size: 0; }
      .bjgMain .titlebox .comTitle i {
        width: 28px;
        height: 29px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        font-family: Arial;
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 29px;
        font-style: normal; }
      .bjgMain .titlebox .comTitle .comIcon1 {
        background-position: 0 -95px; }
      .bjgMain .titlebox .comTitle span {
        display: inline-block;
        vertical-align: middle;
        color: #333;
        font-size: 17px;
        margin-left: 10px;
        font-family: "微软雅黑"; }
    .bjgMain .titlebox .comIMue {
      float: right;
      margin-left: 50px;
      color: #999; }
      .bjgMain .titlebox .comIMue a {
        padding: 0 7px;
        color: #999; }
      .bjgMain .titlebox .comIMue .goBlank {
        padding: 4px 7px;
        color: #fff;
        background: #d43d4e;
        height: 21px;
        border-radius: 2px; }
  .bjgMain .spiritWrap {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c94b56;
    height: 485px;
    overflow: hidden;
    width: 100%; }
  .bjgMain .topTenWrap {
    height: 161px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec; }
    .bjgMain .topTenWrap .hotWordBox {
      float: left;
      width: 186px;
      border-right: 1px solid #ececec;
      background: #f9f9f9;
      height: 160px;
      padding: 20px 10px 10px 14px; }
    .bjgMain .topTenWrap .topTenBox {
      width: 985px;
      float: right;
      height: 162px; }
  .bjgMain .newBoxI {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat; }

.bjgMain .topTenWrap .hotWordBox .LI1 {
  margin-top: 7px; }
.bjgMain .topTenWrap .hotWordBox li {
  width: 186px;
  font-family: "微软雅黑"; }
  .bjgMain .topTenWrap .hotWordBox li h3 {
    color: #cc0000;
    font-weight: bold;
    padding-right: 5px;
    font-size: 0; }
    .bjgMain .topTenWrap .hotWordBox li h3 i {
      width: 3px;
      height: 3px;
      display: inline-block;
      vertical-align: middle;
      background: #d02229;
      overflow: hidden; }
    .bjgMain .topTenWrap .hotWordBox li h3 span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      margin-left: 5px; }
  .bjgMain .topTenWrap .hotWordBox li p {
    padding-left: 8px;
    width: 178px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    margin-top: 5px; }
    .bjgMain .topTenWrap .hotWordBox li p a {
      float: left;
      padding-right: 5px;
      font-size: 10px; }

.bjgMain .topTenWrap .topTenBox .topTenNavBox {
  height: 32px;
  line-height: 32px;
  padding: 0 12px; }
  .bjgMain .topTenWrap .topTenBox .topTenNavBox h3 {
    float: left;
    font-size: 0; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox h3 i {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 13px;
      overflow: hidden; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox h3 .topTen1 {
      background-position: -38px 0; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox h3 span {
      font-size: 12px;
      color: #d43d4e;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px; }
  .bjgMain .topTenWrap .topTenBox .topTenNavBox .topTenNav {
    float: right;
    height: 32px; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox .topTenNav a {
      font-size: 12px;
      height: 32px;
      padding: 0 10px;
      display: block;
      float: left;
      color: #666; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox .topTenNav .on {
      color: #cc0000;
      text-decoration: none;
      height: 32px;
      padding: 0 10px; }
    .bjgMain .topTenWrap .topTenBox .topTenNavBox .topTenNav span {
      float: left;
      display: block;
      color: #cccccc; }
.bjgMain .topTenWrap .topTenBox .topTenConWrap {
  width: 985px;
  height: 102px;
  padding: 10px 0 15px 0;
  overflow: hidden;
  position: relative; }
  .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li {
    float: left;
    width: 190px;
    margin-top: 10px;
    padding-right: 7px; }
    .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .topTenOne {
      background-position: -150px -164px;
      width: 11px;
      display: block;
      float: left;
      height: 89px; }
    .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .pic {
      float: left; }
    .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .text {
      float: left;
      width: 80px;
      padding-top: 5px; }
      .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .text .topTenTit {
        width: 80px;
        height: 36px;
        line-height: 18px;
        overflow: hidden;
        font-family: "宋体"; }
        .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .text .topTenTit a {
          width: 80px;
          height: 36px;
          display: block; }
      .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .text .topTenPrice {
        font-size: 16px;
        height: 18px;
        line-height: 18px;
        margin-top: 5px;
        color: #cc0000;
        width: 80px;
        overflow: hidden;
        font-family: "微软雅黑";
        background: #fff; }
        .bjgMain .topTenWrap .topTenBox .topTenConWrap .topTenCon li .text .topTenPrice strong {
          font-size: 15px;
          font-weight: normal;
          color: #CD0100; }

#bottomMain {
  width: 100%;
  background: #f9f9f9; }
  #bottomMain .footerTop {
    width: 100%;
    background: #333; }
    #bottomMain .footerTop .footerOne {
      width: 1200px;
      margin: 0 auto;
      height: 84px;
      border-bottom: 1px solid #494949; }
      #bottomMain .footerTop .footerOne .footerOneLeft {
        float: left;
        height: 40px;
        line-height: 40px;
        font-family: 微软雅黑;
        padding: 22px 0px; }
        #bottomMain .footerTop .footerOne .footerOneLeft i {
          width: 40px;
          height: 40px;
          background-position: -144px -22px;
          margin-right: 18px;
          float: left; }
        #bottomMain .footerTop .footerOne .footerOneLeft b {
          font-size: 24px;
          color: #c00;
          margin-right: 25px;
          float: left; }
        #bottomMain .footerTop .footerOne .footerOneLeft span {
          font-size: 14px;
          color: #fff;
          margin-right: 8px;
          float: left; }
      #bottomMain .footerTop .footerOne .footerOneRight {
        float: right;
        height: 32px;
        padding: 26px 0; }
        #bottomMain .footerTop .footerOne .footerOneRight p {
          float: left;
          line-height: 32px;
          color: white;
          font-family: 微软雅黑;
          padding-right: 10px; }
        #bottomMain .footerTop .footerOne .footerOneRight .content {
          float: left;
          width: 240px;
          height: 30px;
          border: 1px solid #494949;
          position: relative;
          z-index: 99; }
          #bottomMain .footerTop .footerOne .footerOneRight .content input {
            width: 190px;
            height: 30px;
            line-height: 30px;
            padding: 0 6px;
            background: 0;
            border: 0;
            float: left;
            color: #fff;
            outline: 0;
            vertical-align: middle; }
          #bottomMain .footerTop .footerOne .footerOneRight .content span {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            color: #999;
            position: absolute;
            left: 6px;
            top: 0; }
          #bottomMain .footerTop .footerOne .footerOneRight .content i {
            width: 22px;
            height: 18px;
            background-position: -133px 0;
            margin: 6px 0 0 10px;
            cursor: pointer;
            float: left; }

.footerTop .footerContent {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0 60px; }
  .footerTop .footerContent li {
    float: left;
    margin-right: 15px; }
    .footerTop .footerContent li h3 {
      font-weight: normal;
      height: 26px;
      line-height: 26px;
      padding: 5px 0; }
      .footerTop .footerContent li h3 i {
        width: 26px;
        height: 26px;
        margin-right: 9px;
        float: left; }
      .footerTop .footerContent li h3 span {
        width: 123px;
        font-size: 14px;
        color: #fff;
        float: left;
        overflow: hidden;
        white-space: nowrap; }
    .footerTop .footerContent li p {
      width: 123px;
      height: 26px;
      line-height: 26px;
      padding-left: 35px;
      overflow: hidden;
      white-space: nowrap; }
    .footerTop .footerContent li a {
      color: #ccc; }
      .footerTop .footerContent li a:hover {
        text-decoration: underline; }

.footerTop .footerContent li:nth-child(1) i {
  background-position: 0 -131px; }

.footerTop .footerContent li:nth-child(2) i {
  background-position: -30px -131px; }

.footerTop .footerContent li:nth-child(3) i {
  background-position: -60px -131px; }

.footerTop .footerContent li:nth-child(4) i {
  background-position: -90px -131px; }

.footerTop .footerContent li:nth-child(5) i {
  background-position: -120px -131px; }

.footerTop .footerContent li:nth-child(6) i {
  background-position: -150px -131px; }

.newBoxI {
  background: url(../img/public-24.png) no-repeat; }

#topFocusBox a {
  display: block;
  width: 100%;
  height: 90px; }

#newADBox {
  width: 1200px;
  margin: 0 auto;
  height: 140px;
  position: fixed;
  bottom: 10px;
  left: 70px;
  z-index: 1; }
  #newADBox a {
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 140px;
    position: absolute;
    z-index: 22;
    background: url(../img/cc27f927eb2f4004ae68d57472303f18.png) no-repeat center; }
  #newADBox i {
    font-weight: 800;
    width: 27px;
    height: 25px;
    display: block;
    position: absolute;
    z-index: 10;
    right: -30px;
    top: 8px;
    cursor: pointer;
    color: hotpink; }
  #newADBox p {
    position: absolute;
    right: 60px;
    top: -5px;
    font-size: 18px; }

/*# sourceMappingURL=index.css.map */
